<!-- REACTIVE FORM-->
<!-- DOESNOT SUPPORTS NGMODULE SO TAKING FORMGROUP  to achive two way interaction-->
<form [formGroup]="form">
  <div>
    <label>USERNAME : </label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div>
    <label>PHONE : </label>
    <input type="text" class="form-control" formControlName="phone">
  </div>
  <div>
    <label>EMAIL : </label>
    <input type="text" class="form-control" formControlName="email">
  </div>
 <button (click)="signup()">SUBMIT</button>
</form>